<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

  <head th:replace="_layout::head (page.error)">

    <!-- This is used only for prototyping, will be removed by Thymeleaf. -->
    <link type="text/css" rel="stylesheet/less" href="../../../less/style.less" />
    <script type="text/javascript" src="../../js/less.min.js"></script>
  </head>

  <body>
    <th:block th:replace="_layout::header" />

    <section id="main" class="container">
      <h1 th:text="#{oauth_error.title}">Houston, we have a problem…</h1>

      <div class="alert alert-danger" th:text="${error.summary}">
        Error summary
      </div>

      <p th:utext="#{oauth_error.hint(@{/support})}">
        Please try it later or let us know about it.
      </p>
    </section>

    <th:block th:replace="_layout::footer" />
  </body>
</html>
