<!DOCTYPE html>

<html lang="cs"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="description" content="OAuth 2.0 Authorization Server"/>
    <meta name="author" content="Tomas Mano, Jakub Jirutka"/>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">OAuth2 Autorizační server</title>
</head>

<body layout:fragment="body">

</body>
</html>
