/* Override some defaults */
html, body {
    /*background-color: #eee;*/
}
body {
    /*padding-top: 100px;*/
}

.container {

}

#wrap {
    padding-top: 3%;
    max-width: 735px;
    margin: 0 auto ;
}

/* placholder magic */

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #c6c6c6;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c6c6c6;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c6c6c6;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:  #c6c6c6;
}

a:link {
    color: #379f15;
}
a:hover {
    color: #28720f
}
a.more-info-link {
    color: #28720f
}