.form-login {
  max-width: 24em;
  margin: 0 auto;
}

.form-login .form-control {
  margin-bottom: 12px;
  padding-left: 40px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 white, 0 -1px 4px #ccc inset;
  background: white url("@{images-path}/login-form-bg.png") no-repeat;
  font-size: 16px;
}

.form-login .form-control:focus {
  box-shadow: 0 0 3px 1px #eca900 inset;
  background-color: white;
  border: 1px solid #eca900;
}

.form-login .input-username {
  background-position: 10px 12px;
}
.form-login .input-password {
  background-position: 10px -51px;
}

.form-login .control-submit {
  text-align: right;
}

.form-login .btn-submit {
  width: 45%;
}

.form-shibboleth {
  clear: both;
  margin-top: 1em;
}

.form-shibboleth .btn-shibboleth {
  padding: 1ex;
}
