<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <!--
  | HEAD FRAGMENT
  -->
  <head th:fragment="head (title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="description" content="Zuul OAuth 2.0 Authorization Server"/>
    <meta name="author" content="Jakub Jirutka"/>

    <title th:text="|#{project.title_short} :: ${title}|"></title>

    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>

    <!--
    | HEADER FRAGMENT
    -->
    <header th:fragment="header">
      <div class="container">
        <h1 th:utext="#{project.title}">Zuul OAuth 2.0 authorization server</h1>
      </div>
    </header>

    <!--
    | FOOTER FRAGMENT
    -->
    <footer th:fragment="footer">
      <p th:utext="#{project.copyright}">&copy; 2013 Zuul</p>
    </footer>

  </body>
</html>
