<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

  <head th:replace="_layout::head (page.index)">

    <!-- This is used only for prototyping, will be removed by Thymeleaf. -->
    <link type="text/css" rel="stylesheet/less" href="../../less/style.less" />
    <script type="text/javascript" src=".local/less.min.js"></script>
  </head>

  <body>
    <th:block th:replace="_layout::header" />

    <section id="main" class="container">
      <h1 th:text="#{index.title}">
        There is no page, only Zuul…
      </h1>

      <p th:utext="#{index.description}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
      </p>

      <img th:src="@{/images/zuul-oauth-logo.png}" src="../static/images/zuul-oauth-logo.png"
           width="225" height="225"
           alt="Zuul OAuth logo"
           class="center" />
    </section>

    <th:block th:replace="_layout::footer" />
  </body>
</html>
