<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

  <head th:replace="_layout::head (#{page.login})">
    <!--/* This is used only for prototyping, will be removed by Thymeleaf. */-->
    <script src="thymol.init.js"></script>
  </head>

  <body>
    <header th:include="_layout::header"></header>

    <section id="main" class="container">
      <div th:if="${param.authentication_error}"
           class="alert alert-danger">

        <th:block th:utext="#{login.error.authentication}">Username or password is wrong.</th:block>
      </div>

      <div th:if="${param.authorization_error}"
           class="alert alert-danger">

        <th:block th:utext="#{login.error.authorization}">You’re not allowed to access this resource.</th:block>
      </div>

      <form th:action="@{/login.do}" method="post" class="form-login well well-lg">
        <input name="j_username"
               type="text"
               autofocus="autofocus"
               class="form-control input-lg input-username"
               th:placeholder="#{login.form.name}" placeholder="Username" />

        <input name="j_password"
               type="password"
               class="form-control input-lg input-password"
               th:placeholder="#{login.form.password}" placeholder="Password" />

        <div class="control-submit">
          <button type="submit"
                  class="btn btn-lg btn-primary btn-submit"
                  th:utext="#{login.form.login}">Log-in</button>
        </div>
      </form>

      <form class="form-login form-shibboleth well well-lg">

        <label class="checkbox control-shibboleth-remember">
          <input type="checkbox" name="shibboleth-remember" />
          <th:block th:utext="#{login.saml.remember}">Remember my preference</th:block>
        </label>

        <button type="button"
                class="btn btn-block btn-default btn-shibboleth"
                th:utext="#{login.saml.login}">Log in with Shibboleth</button>
      </form>
    </section>

    <footer th:include="_layout::footer"></footer>
  </body>
</html>
