<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

  <head th:replace="_layout::head (page.login)">

    <!-- This is used only for prototyping, will be removed by Thymeleaf. -->
    <link type="text/css" rel="stylesheet/less" href="../../less/style.less" />
    <script type="text/javascript" src=".local/less.min.js"></script>
  </head>

  <body>
    <th:block th:replace="_layout::header" />

    <section id="main" class="container">
      <div th:if="${param.authentication_error}"
           class="alert alert-danger">

        <th:block th:text="#{login.error.authentication}">Username or password is wrong.</th:block>
      </div>

      <div th:if="${param.authorization_error}"
           class="alert alert-danger">

        <th:block th:text="#{login.error.authorization}">You’re not allowed to access this resource.</th:block>
      </div>

      <form th:action="@{/login.do}" method="post" class="form-login">
        <input name="j_username"
               type="text"
               autofocus="autofocus"
               class="form-control input-lg"
               th:placeholder="#{login.form.name}" placeholder="Username" />

        <input name="j_password"
               type="password"
               class="form-control input-lg"
               th:placeholder="#{login.form.password}" placeholder="Password" />

        <button type="submit"
                class="btn btn-lg btn-primary btn-block"
                th:text="#{login.form.login}">Log-in</button>
      </form>
    </section>

    <th:block th:replace="_layout::footer" />
  </body>
</html>
