<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

  <head th:replace="_layout::head (#{page.error})">
    <!--/* This is used only for prototyping, will be removed by Thymeleaf. */-->
    <script src="thymol.init.js"></script>
  </head>

  <body>
    <th:block th:replace="_layout::header"></th:block>

    <section id="main" class="container">
      <h1 th:utext="#{oauth_error.title}">Houston, we have a problem…</h1>

      <div class="alert alert-danger" th:utext="${error.summary}">
        Error summary
      </div>

      <p th:utext="#{oauth_error.hint(@{/support})}">
        Please try it later or let us know about it.
      </p>
    </section>

    <th:block th:replace="_layout::footer"></th:block>
  </body>
</html>
